$clickedColor : grey;

.square {
    padding: 5%;
    float: left;
    width: 16%;
    border: 2px solid black;

    &.unclicked {
        background-color: $clickedColor;
        cursor: pointer;
    }
}